body {
  padding-top: 50px;
}
.info-auto {
  text-align: left;
  padding: 2%;
  border-radius: 20px;
}
.titulo {
  font-size: 18px;
}

#info-consulta {
  visibility: hidden;
}

#error {
  visibility: hidden;
}
